{% load alert_extras %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="content-language" content="ja">
		<title>IS課題アラート</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<!--
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/main.js"></script>
		-->
	</head>

	<body>
		<header>
			<a href="/homework">IS2015-Homework-Alert</a>
			<span class="mail">
			{% if login %}
			{{ user.email }} | <a href="logout">ログアウト</a>
			{% else %}
			<a href="login">ログイン</a>
			{% endif %}
			</span>
		</header>
		<div class="contents">
			<table id="works">
				<tr>
					<th>講義名</th><th>課題</th><th>提出期限</th>
					{% if login %}
					<th>Done?</th>
					{% endif %}
				</tr>
				{% for work in works %}
					<tr>
						<td>{{ work.lecture }}</td><td>{{ work.name }}</td><td>{{ work.deadline }}</td>
						{% if login %}
						<td>{{ work | is_done:user.id }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
